table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  border: 1px solid #ccc;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

input {
  width: 100%;
  height: 100%;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 10px auto; /* Adds margin around the heading */
}
